<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.miniapps.stem-helper</string>
    <key>ProgramArguments</key>
    <array>
      <string>__NODE_BIN__</string>
      <string>__SERVER_FILE__</string>
      <string>--config</string>
      <string>__CONFIG_FILE__</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/tmp</string>
    <key>StandardOutPath</key>
    <string>__STDOUT_LOG__</string>
    <key>StandardErrorPath</key>
    <string>__STDERR_LOG__</string>
  </dict>
</plist>
